
.cta-section {
  @include cf;
}

.cta-section__red {
  background: $red;
}

.cta-section .container {
  @include bp-min-width($medium) {
    padding-top: $base*4;
    padding-bottom: $base*4;
  }

  @include bp-min-width($xxlarge) {
    padding-top: $base*6;
    padding-bottom: $base*6;
  }
}

.cta-section--content {
  @include bp-max-width($large) {
    margin-bottom: $base;
  }

  @include bp-min-width($large) {
    float: left;
    width: calc(100% - 400px);
  }

  @include bp-min-width($xxlarge) {
    width: calc(100% - 560px);
  }
}

.cta-section--content p {
  @include font-size(18px);
  @include line-height(24px);

  @include bp-min-width($xxlarge) {
    @include font-size(30px);
    @include line-height(38px);
  }
}

.cta-section__red p {
  color: #fff;
}

.cta-section--button {
  @include bp-min-width($large) {
    float: left;
    width: 400px;
    text-align: right;
  }

  @include bp-min-width($xxlarge) {
    width: 560px;
  }
}