
.hero {
  position: relative;
  background-color: $red;
  color: #fff;
}

.hero-container {
  padding: $base*3 20px;

  @include bp-min-width($medium) {
    padding: $base*10 5%;
  }

  @include bp-min-width($xxlarge) {
    padding-top: $base*14;
    padding-bottom: $base*14;
  }
}

.hero--title {
  @include font-size(18px);
  @include line-height(22px);
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(38px);
    @include line-height(47px);
  }

  @include bp-min-width($xxlarge) {
    @include font-size(60px);
    @include line-height(73px);
  }
}