
.main-nav {
  @include cf;
  float: right;

  @include bp-max-width($large) {
    padding-top: 4px;
  }

  @include bp-min-width($large) {
    @include vertical-center(absolute);
    right: 2%;
  }
}

.menu-main-menu-container {
  @include bp-max-width($large) {
    transition: opacity 0.15s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 0;
    opacity: 0;
    background: #fff;
  }
}

.menu-main-menu-container.js-is-visible {
  @include bp-max-width($large) {
    height: 100%;
    opacity: 1;
  }
}

.main-nav .menu {
  @include bp-max-width($large) {
    @include fixed-center;
    max-width: 400px;
    padding: 0 20px;
    height: 0;
    overflow: scroll;
  }
}

.main-nav .js-is-visible .menu {
  @include bp-max-width($large) {
    height: auto;
  }
}

.main-nav li {
  @include bp-max-width($large) {
    margin-bottom: $base;
  }

  @include bp-min-width($large) {
    float: left;
    margin-left: 24px;
  }
}

.main-nav li a {
  @include font-size(20px);
  display: block;
  color: #000;
  text-transform: uppercase;

  @include bp-min-max($large, $xxlarge) {
    @include font-size(15px);
  }

  @include bp-min-width($xxlarge) {
    @include font-size(20px);
  }
}

.main-nav li a:hover {
  color: $red;
}

.main-nav .current-menu-item {
  position: relative;
}

.main-nav .current-menu-item a {
  @include bp-min-width($medium) {
    color: $red;
  }
}

.main-nav .current-menu-item:before {
  @include bp-min-width($large) {
    @include down-triangle(10px, $red);
    @include horizontal-center(absolute);
    top: -43px;
  }
}


/** Mobile Menu Button **/

.btn-mobile {
  position: relative;
  width: 24px;
  height: 18px;
  z-index: 30;
  display: inline-block;

  @include bp-min-width($large) {
    display: none;
  }
}

.btn-mobile--bar {
  @include global-transition(0.1s);
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 3px;
  background: #000;
  border-radius: 6px;
}

.btn-mobile--bar:nth-child(1) {
  transform: rotate(0);
}

.btn-mobile--bar:nth-child(2) {
  transform: rotate(0);
}

.btn-mobile--bar:nth-child(3) {
  opacity: 1;
}

.js-is-active .btn-mobile--bar {
  position: absolute;
  top: 5px;
  left: 0;

  &:nth-child(1) {
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    transform: rotate(-45deg);
  }

  &:nth-child(3) {
    opacity: 0;
  }
}
