
.tabs {
  padding: $base 0;
  text-align: center;
}

.tabs--item {
  @include font-size(20px);
  margin: 0 20px;
  color: #000;
  text-transform: uppercase;
}

.tabs--item.is-active {
  color: $red;
}
