
.tabs {
  padding: $base 0;
  text-align: center;
}

.tabs--item {
  @include font-size(16px);
  display: inline-block;
  margin: 0 20px;
  color: #000;
  text-transform: uppercase;

  @include bp-min-width($xlarge) {
    @include font-size(20px);
  }
}

.tabs--item.is-active {
  color: $red;
}
