
.page-id-13 .frm_forms {
  padding-top: $base;

  @include bp-min-width($large) {
    padding-top: $base*2;
  }
}

.page-id-13 .form-item--first-name,
.page-id-13 .form-item--city {
  @include bp-min-width($medium) {
    padding-right: 10px;
  }
}

.page-id-13 .form-item--last-name,
.page-id-13 .form-item--state {
  @include bp-min-width($medium) {
    padding-top: 34px;
    padding-left: 10px;
  }
}

.page-id-13 .form-item--last-name label,
.page-id-13 .form-item--state label {
  display: none;
}

.page-id-13 .form-item--email,
.page-id-13 .form-item--subject {
  @include bp-min-width($medium) {
    clear: left;
  }
}
