
.contractors-content {
  margin-bottom: $base*2;
  padding-bottom: $base*2;
  border-bottom: 1px solid $grey;
}

.contractors-content .cta-section--button {
  @include bp-min-width($large) {
    right: 0;
  }
}

.plan--item {
  @include bp-min-width($xlarge) {
    width: 50%;
  }
}

.plan--item:not(:last-child) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $grey;

  @include bp-min-width($xlarge) {
    width: 50%;
  }
}

.plan-title {
  @include font-size(18px);
  margin-bottom: 4px;
  color: $red;
  text-transform: uppercase;
}

.plan-description {
  color: $red;
  line-height: 1;
}

.plan-file-link {
  text-transform: uppercase;
}

.plan-file-link a {
  color: $grey;

  &:hover {
    color: #000;
  }
}
