
.home .site-container {
  @include bp-min-width($medium) {
    padding-top: 0;
  }
}

.home .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: transparent;

  @include bp-min-width($medium) {
    transition: background .2s ease-in-out;
    position: fixed;
  }
}

.home .js-bg-white {
  background: #fff;
}

.home .header .white-logo {
  opacity: 1;
}

.home .header .primary-logo {
  opacity: 0;
}

.home .js-bg-white .white-logo {
  opacity: 0;
}

.home .js-bg-white .primary-logo {
  opacity: 1;
}

.home .header a {
  color: #fff;

  &:hover {
    color: #000;
  }
}

.home .js-bg-white a,
.home .js-is-visible a {
  color: #000;

  &:hover {
    color: $red;
  }
}

.home .header .btn-mobile--bar {
  background: #fff;
}

.home .js-bg-white .btn-mobile--bar,
.home .js-is-active .btn-mobile--bar {
  background: #000;
}

.home-hero {
  text-align: center;
}

.home-hero .hero-container {
  padding-top: $base*4;

  @include bp-min-width($medium) {
    padding-top: $base*14;
    padding-bottom: $base*12;
  }

  @include bp-min-width($xxlarge) {
    padding-top: $base*19;
    padding-bottom: $base*15;
  }
}

.home-hero--title {
  @include font-size(25px);
  @inlcude line-height(30px);
  margin-bottom: 6px;
  text-transform: uppercase;

  @include bp-min-width($medium) {
    @include font-size(60px);
    @inlcude line-height(80px);
    margin-bottom: 18px;
  }

  @include bp-min-width($xxlarge) {
    @include font-size(100px);
    @inlcude line-height(122px);
    margin-bottom: $base;
  }
}

.home-hero--title .bullet {
  vertical-align: 2px;
  font-size: .65em;

  @include bp-min-width($medium) {
    vertical-align: 10px;
  }
}

.home-hero--subtitle {
  @include font-size(18px);
  @include line-height(24px);
  font-family: $family-sans-body;
  font-style: italic;

  @include bp-min-width($medium) {
    @include font-size(22px);
    @include line-height(28px);
  }

  @include bp-min-width($xxlarge) {
    @include font-size(35px);
    @include line-height(44px);
  }
}

.home-intro {
  @include bp-max-width($large) {
    text-align: center;
  }
}

.home-intro--content {
  @include bp-max-width($large) {
    margin-bottom: $base;
  }

  @include bp-min-width($large) {
    float: left;
    width: calc(100% - 400px);
  }

  @include bp-min-width($xxlarge) {
    width: calc(100% - 560px);
  }
}

.home-intro--content p {
  @include font-size(18px);
  @include line-height(24px);

  @include bp-min-width($xxlarge) {
    @include font-size(30px);
    @include line-height(38px);
  }
}

.home-intro--cta {
  @include bp-min-width($large) {
    float: left;
    width: 400px;
    text-align: right;
  }

  @include bp-min-width($xxlarge) {
    width: 560px;
  }
}