
.services-item {
  @include bp-max-width($small) {
    border-bottom: 1px solid $lt-grey;
  }

  @include bp-min-width($small) {
    display: none;
  }
}

.services-item.is-active {
  display: block;
}

.services-hero img {
  width: 100%;
}

.services-tabs {
  @include bp-max-width($small) {
    display: none;
  }
}

.sevices-mobile-toggle {
  position: relative;
  display: block;
  padding: 20px;
  color: #000;
  text-transform: uppercase;

  @include bp-min-width($small) {
    display: none;
  }

  &.is-active {
    color: $red;
  }
}

.sevices-mobile-toggle:after {
  @include down-triangle(6px, $red);
  @include vertical-center;
  right: 20px;
}

.services-mobile-container {
  display: none;

  @include bp-min-width($small) {
    display: block !important;
  }
}