
/** Links ========**/

a {
  @include global-transition(0.1s);
}

.body a {
  color: $red;

  &:hover {
    color: #000;
  }
}

/** Buttons ========**/

@mixin btn {
  @include font-size(20px);
  display: inline-block;
  padding: 16px 12px;
  border: 5px solid #000;
  color: #000;
  text-transform: uppercase;
  text-align: center;

  @include bp-min-width($medium) {
    padding: 32px 20px;
  }

  @include bp-min-width($xlarge) {
    @include font-size(30px);
  }
}

.btn {
  @include btn;
}

.btn__white {
  background: #fff;
  border-color: #fff;
  color: $red;

  &:hover {
    background: none;
    color: #fff;
  }
}

.btn__white-border {
  background: $red;
  border-color: #fff;
  color: #fff;

  &:hover {
    background: #fff;
    color: $red;
  }
}


/** Form Buttons ========**/

input[type="submit"],
button {
  @include global-transition(0.1s);
  @include font-size(20px);
  display: inline-block;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 16px 12px;
  background: #fff;
  border: 5px solid #000;
  font-family: $family-sans;
  color: #000;
  text-transform: uppercase;
  text-align: center;

  @include bp-min-width($medium) {
    max-width: 496px;
    padding: 32px 20px;
  }

  @include bp-min-width($xlarge) {
    @include font-size(30px);
  }
}


/** Back Link ========**/

.back-link {
  @include font-size(20px);
  padding-top: $base;
}

.back-link a {
  color: $grey;
  text-transform: uppercase;
}
