
body {
  background: $lt-grey;
}

.site-container {
  @include cf;

  @include bp-min-width($xlarge) {
    position: relative;
    max-width: 1640px;
    margin: 0 auto;
  }
}

body:not(.home) .site-container {
  @include bp-min-width($medium) {
    padding-top: 78px;
  }
}

.main {
  background-color: #fff;
}

.container {
  @include cf;
  padding: $base*1.5 20px;

  @include bp-min-width($medium) {
    padding: $base*2 5%;
  }
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

.mobile-visible {
  visibility: visible;
}

.mobile-hidden {
  visibility: hidden;
}
