
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);

$family-sans: 'Montserrat', Georgia, serif;
$family-sans-body: 'Source Sans Pro', Helvetica, arial, sans-serif;

$weight-book: 400;
$weight-bold: 700;

$base:  24px;

body {
  font: $weight-book 1em/1.5em $family-sans;
  color: $dk-grey;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
  font-weight: $weight-book;
}

strong {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

.section-title {
  @include font-size(25px);
  margin-bottom: $base;
  color: $red;
  text-transform: uppercase;

  @include bp-max-width($medium) {
    text-align: center;
  }
  @include bp-min-width($medium) {
    @include font-size(30px);
  }
}

.body-content p,
.body-content ul,
.body-content ol {
  @include font-size(18px);
  @include line-height(24px);
  margin-bottom: 1em;
  font-family: $family-sans-body;

  &:last-child {
    margin-bottom: 0;
  }
}

.body-content ul,
.body-content ol {
  margin-left: 1.5em;
}

.body-content ul li {
  list-style: disc;
}

.body-content ol li {
  list-style: decimal;
}

.body-content p .btn {
  font-family: $family-sans;
}

.two-col-content {
  @include bp-min-width($large) {
    column-count: 2;
    column-gap: 60px;
  }

  @include bp-min-width($xlarge) {
    column-gap: 100px;
  }
}

.two-col-content p {
  @include bp-min-width($large) {
    margin-bottom: 0;
  }
}
